.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--shadow-regular);
    border-radius: 16px;
}

.avatar {
    border-radius: 50%;
}